:root
  {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }

.fieldcss{
  background: rgb(241, 241, 241);
  width: 50% !important;
  padding: 90px;
  margin: auto;
  margin: 5% auto 5% auto;

 
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}



.but{
  margin: 4px;
  background-color: #9b59b6;
}


.header{
  color: rgb(0, 38, 128);
}
